[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "External/Mantle"]
	path = External/Mantle
	url = https://github.com/github/Mantle.git
