[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "External/Mantle"]
	path = External/Mantle
	url = https://github.com/github/Mantle.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/github/ReactiveCocoa.git
[submodule "External/ISO8601DateFormatter"]
	path = External/ISO8601DateFormatter
	url = git://github.com/ISO8601DateFormatter/ISO8601DateFormatter.git
