[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "External/Mantle"]
	path = External/Mantle
	url = https://github.com/MantleFramework/Mantle.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "External/ISO8601DateFormatter"]
	path = External/ISO8601DateFormatter
	url = https://github.com/boredzo/iso-8601-date-formatter.git
[submodule "External/OHHTTPStubs"]
	path = External/OHHTTPStubs
	url = https://github.com/github/OHHTTPStubs.git
